/**
** These are variables that are commonly used throught the code 
**/

$cover_photo : url('../images/cover7.jpg'); 
$dark : #343A41; 
$blue : #BAC6CC; 
$black : black; 
$font : Arial, Helvetica, sans-serif;
$fSize : 125%; 
$fSizeHover : 130%; 
$iconBig : 48px; 
$iconSmall : 20px; 
$lightText : rgb(187, 187, 187); 
$h2Color: rgb(230, 13, 49); 
$specialFont: 'Dancing Script', cursive;
$lightgray: lightgray; 
$white: white; 




